.danhsach {
    font-size: 12px;
    font-weight: 500;
}
thead th {
    padding: 12px !important;
    font-weight: 500 !important;
    font-size: 12px;
}
.menu {
    margin-top: 20px;
}
.error{
    color: #dc2222 ;
    font-size: 15px;
    /* font-style: italic; */
    text-transform: capitalize;
}
